// about.scss

/* Hero */
.about-content {

  .hero {
    background-color: #040402;
    color: #fff;

    .hero-text {
      padding-top: 150px;

      h1 {
        font-size: 6rem;
        font-weight: bold;
      }
    }
  }
}



/* About Section */

.about-section {
  background-color: #f6f7fa;

  h2 {
    font-weight: 300;
    margin-bottom: 24px;
  }

  button{
    margin-top: 24px;
    background-color: #1A27C9;
    padding: 18px 30px;
    font-weight: 300;
    border: none;
    font-size: 1.4rem;
    color: #fff;
  }
}



/** Core Values */

.core-values-section {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.title-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.values-column {
  flex: 1.5;
  overflow-y: auto; // Make the values column scrollable
  padding: 20px;
  background-color: #ffffff; // Background color for the values column
  height: 80vh; // Set a fixed height for the values column
}

.values-list {
  display: flex;
  flex-direction: column;
}

.value-item {
  margin-bottom: 20px;
}



.value-item p {

  font-size: 2rem;
  
}

/* Hide the scrollbar */
.values-column::-webkit-scrollbar {
  width: 0; // Hide the scrollbar for WebKit browsers
}

.values-column {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Differentiator */
.scroller-column {
  transition: transform 0.3s ease-in-out;
}

.scroll-wrapper {
  scroll-behavior: smooth;
}

.scroller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.scroller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  margin-bottom: 50px;
}



.scroller-buttons {
  display: flex;
  gap: 10px;
}

.scroll-wrapper {
  display: flex;
  overflow-x: hidden;
  /* Hide the scrollbar */
  padding-left: 100px;
  width: 100%;
}

.scroller-row {
  display: flex;
}

.scroller-column {
  max-width: 400px;
  border: none;
  flex: 0 0 auto;
  padding: 20px;
  background-color: #f6f7fa;
  margin-right: 20px;
  text-align: center;
  border-radius: 50px;
}

.scroll-button {
  background-color: #1A27C9;
  color: white;
  border: none;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Resources */
.about-content{
  .resources-section {
    background-color: #f6f7fa;
  
    button {
  
      width: 100%;
      margin-top: 24px;
      background-color: #1A27C9;
      padding: 18px 30px;
      font-weight: 300;
      border: none;
      font-size: 1.4rem;
      color: #fff;
    }
  
    h2 {
      font-weight: 300;
    }
  }
}


@media only screen and (max-width: 1200px) {

  /* Core Values */
  .values {
    .col-lg-7 {
      width: 100%;

    }

    .col-lg-5 {
      display: none;
    }
  }
}

@media only screen and (max-width: 992px) {

  /* Work Ethic */
  .work-ethic {
    .row {
      padding-left: 0px;

    }
  }

}

@media only screen and (max-width: 768px) {

  /* Hero */
  .About-content {
    .Hero {
      .hero-text {
        padding-top: 100px;

        h1 {
          font-size: 5rem;
          font-weight: bold;
        }
      }
    }
  }

  /* Core Values */
  .values {
    .col-lg-7 {
      .row {
        .col {
          width: 100%;
          flex: 100%;
        }
      }
    }

    .col-lg-5 {
      img {
        display: none;
      }
    }
  }


  /* Differentiator */
  .scroller-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .scroller-buttons {
    margin-top: 10px;
  }

  .scroll-wrapper {
    padding-left: 20px;
  }

  .scroller-column {
    min-width: 200px;
  }
}

@media only screen and (max-width:600px) {

  /* Hero */
  .About-content {
    .Hero {
      .hero-text {
        padding-top: 100px;

        h1 {
          font-size: 4rem;
          font-weight: bold;
        }
      }
    }
  }

  /* Work Ethic */
  .work-ethic {
    .row {
      .col {
        width: 100%;
        flex: 100%;
      }
    }
  }
}